.conditionContainer{
    background-color: #f4f4f4;
    height: 13em;
}
.conditionListContainer {
    list-style: none;
    width: 90%;
    margin: 10em auto;
    padding: 2em 0;
}
.conditionListContainerItem{
    font-size: 12px;
    margin-bottom: 1.5em;
    font-weight: 500;
}