.card5Container {
  height: 265px;
  width: 350px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%);

  border-radius: 8px;
}

.section1Img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 40px;
  margin-right: 22px;
}
.card5ContainerSection1a {
}
.card5ContainerSection1b {
  line-height: 0.4;
}
.card5ContainerSection1 {
  display: flex;
  width: 90%;
  margin: 15px auto;
}
.card5ContainerSection1bHead {
  font-weight: bold;
}
.card5ContainerSection1bText1 {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.card5ContainerSection1bText2 {
  font-size: 12px;
}
.card5ContainerSection2 {
  margin: 0 0 0 18px;
}
.card5ContainerSection3 {
  margin: 0 0 0 18px;
  width: 80%;
  height: 60px;
}
.card5ContainerSection4 {
  font-size: 12px;
  margin: 27px 0 0 19px;
}


@media only screen and (max-width: 1200px) and (min-width: 992px){
  .card5Container {
    height: 265px;
    width: 290px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%);
  
    border-radius: 8px;
  }
  
  .section1Img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 40px;
    margin-right: 22px;
  }
  .card5ContainerSection1a {
  }
  .card5ContainerSection1b {
    line-height: 0.4;
  }
  .card5ContainerSection1 {
    display: flex;
    width: 90%;
    margin: 15px auto;
  }
  .card5ContainerSection1bHead {
    font-weight: bold;
  }
  .card5ContainerSection1bText1 {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .card5ContainerSection1bText2 {
    font-size: 12px;
  }
  .card5ContainerSection2 {
    margin: 0 0 0 18px;
  }
  .card5ContainerSection3 {
    margin: 0 0 0 18px;
    width: 80%;
    height: 60px;
  }
  .card5ContainerSection4 {
    font-size: 12px;
    margin: 27px 0 0 19px;
  } 
}