.heading2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 51px;
  margin: 0;
  padding: 0;
}

.headingContainer2 {
  height: 130px;
  width: 55%;
  text-align: center;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.headingBackground2 {
  height: 37px;
  background-color: #f2e9ff;
  position: relative;
  top: 60px;
  z-index: -1;
  width: 56%;
  margin: 0 auto;
}

.subHeading2{
    margin-bottom: 25px;
}

.headBtn1 {
  background-color: #593cfb;
  color: white;
  line-height: 50px;
  font-weight: bold;
  border: 1px solid white;
  font-size: 18px;
  padding: 0px 10px;
}
