.carouselContainer4 {
  width: 90%;
  margin: 180px auto;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.carousel5Heading {
  font-size: 16px;
  font-weight: 900;
}

.carousel5HeadingContainer {
  display: flex;
  justify-content: space-between;
  width: 97%;
}

@media only screen and (min-width: 600px) {
  .carouselContainer4 {
    width: 90%;
    margin: 180px auto;
  }
  .carousel5Heading {
    font-size: 16px;
    font-weight: 900;
  }
}
@media only screen and (min-width: 992px) {
  .carousel5Heading {
    font-size: 21px;
    font-weight: 900;
  }
}
