.mainImg {
  margin-top: 1%;
  background-image: url("https://resources.turo.com/f/81934/1200x400/7d7dd59964/hp_michelin_1200x400_2.jpg");
  background-position: left center;
  background-color: #00a7e1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
}

.heading1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 90px;
  margin: 0 0 -10px 0;
  padding: 0;
}

.subHeading1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.subHeadingContainer1 {
  height: 130px;
  width: 55%;
  text-align: center;
}

.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.subHeadingBackground1 {
  height: 30px;
  background-color: #f2e9ff;
  position: relative;
  top: 46px;
  z-index: -1;
}
