.App {
  box-sizing: border-box;
}
.banner {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.bannerText {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

.navbarBtn {
  background-color: white;
  border: 1px solid;
  padding: 3%;
}

.navbarBtnContainer {
  margin-left: 72%;
  width: 11%;
}

.mainImg {
  margin-top: 1%;
  background-image: url("https://resources.turo.com/f/81934/1200x400/7d7dd59964/hp_michelin_1200x400_2.jpg");
  background-position: left center;
  background-color: #00a7e1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
}

.carCard {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0px 0px 2px;
}

.carImgContainer {
  height: 154px;
  width: 190px;
  background-size: cover;
  border: 0px solid white;
  border-radius: 10px 10px 0 0;
}

.carCardText {
  font-weight: bold;
}

.carouselContainer {
  width: 90%;
  margin: 0 auto;
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 90px;
  margin: 0;
  padding: 0;
}

.subHeading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.subHeadingContainer{  
  height: 140px;
  width: 55%;
  text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHeadingBackground{
  height: 30px;
  background-color: #f2e9ff;
  position: relative;
  top: 46px;
  z-index: -1;
}